[submodule "pyesm/pism"]
	path = pyesm/pism
	url = https://github.com/pgierz/pyesm-pism.git
[submodule "pyesm/vilma"]
	path = pyesm/vilma
	url = https://github.com/pgierz/pyesm-vilma.git
[submodule "pyesm/echam6"]
	path = pyesm/echam6
	url = git://github.com/pgierz/pyesm-echam6.git
	branch = master
