[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
green = "*"
sphinx = "*"

[packages]
pendulum = "*"
f90nml = "*"
cdo = "*"
nco = "*"
xarray = "*"
six = "*"
"ruamel.yaml" = "*"

[requires]
python_version = "2.7"
