-i https://pypi.org/simple
alabaster==0.7.12
appnope==0.1.0 ; sys_platform == 'darwin'
autopep8==1.4.3
babel==2.6.0
backports.shutil-get-terminal-size==1.0.0 ; python_version == '2.7'
certifi==2018.11.29
chardet==3.0.4
colorama==0.4.1
coverage-badge==0.2.0
coverage==4.5.2
decorator==4.3.0
docutils==0.14
enum34==1.1.6 ; python_version == '2.7'
funcsigs==1.0.2 ; python_version < '3.3'
green==2.13.0
idna==2.8
imagesize==1.1.0
ipython-genutils==0.2.0
ipython==5.8.0
jinja2==2.10
markupsafe==1.1.0
mock==2.0.0
packaging==18.0
pathlib2==2.3.3 ; python_version in '2.6 2.7 3.2 3.3'
pbr==5.1.1
pexpect==4.6.0 ; sys_platform != 'win32'
pickleshare==0.7.5
prompt-toolkit==1.0.15
ptyprocess==0.6.0
pycodestyle==2.4.0
pygments==2.3.1
pyparsing==2.3.0
pytz==2018.7
requests==2.21.0
scandir==1.9.0 ; python_version < '3.5'
simplegeneric==0.8.1
six==1.12.0
snowballstemmer==1.2.1
sphinx==1.8.3
sphinxcontrib-websupport==1.1.0
termstyle==0.1.11
traitlets==4.3.2
typing==3.6.6 ; python_version < '3.5'
unidecode==1.0.23
urllib3==1.24.1
wcwidth==0.1.7
