-i https://pypi.org/simple
emoji==0.5.1
f90nml==1.0.2
gitdb2==2.0.5
gitpython==2.1.11
pendulum==2.0.4
python-dateutil==2.7.5
pytzdata==2018.7
six==1.12.0
smmap2==2.0.5
tqdm==4.29.0
typing==3.6.6 ; python_version < '3.5'
-i https://pypi.org/simple
alabaster==0.7.12
autopep8==1.4.3
babel==2.6.0
backports.shutil-get-terminal-size==1.0.0 ; python_version == '2.7'
certifi==2018.11.29
chardet==3.0.4
colorama==0.4.1
coverage-badge==0.2.0
coverage==4.5.2
docutils==0.14
funcsigs==1.0.2 ; python_version < '3.3'
green==2.13.0
idna==2.8
imagesize==1.1.0
jinja2==2.10
markupsafe==1.1.0
mock==2.0.0
packaging==18.0
pbr==5.1.1
pycodestyle==2.4.0
pygments==2.3.1
pyparsing==2.3.0
pytz==2018.9
requests==2.21.0
six==1.12.0
snowballstemmer==1.2.1
sphinx==1.8.3
sphinxcontrib-websupport==1.1.0
termstyle==0.1.11
typing==3.6.6 ; python_version < '3.5'
unidecode==1.0.23
urllib3==1.24.1
